*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    background-image: url("../img/codigoXIV.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* color: #D3D3D3; */
}

.menu{
        position: fixed;
        width: 100%;
        top: 0;
}


.diseñador{
    border-radius: 50%; 
    width: 35%;
    box-shadow: 5px 5px 5px grey;
}

.diseñador:hover{
    width: 60%;
}

.acerca-texto{
    display: flex;
    margin: 10px;
    padding-left: 10px;
    font-size: large;
}

.parrafo{
    padding: 20px;
    margin: auto;

}

.arriba{
    position: fixed;
    bottom: 2rem;
    right: 1rem;
}

.boton{
   cursor: pointer;
}